invoice-ocr-agent-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        176,
        -16
      ],
      "id": "fa24f46f-bf9d-4d72-bb91-fcf82595c45d",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I4ClMIGg9UXfsM7f",
          "name": "Google Drive account Freetime"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1VKU8NR95xwY259KBFRuzIGPBeUi0_h_V",
          "mode": "list",
          "cachedResultName": "Invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1VKU8NR95xwY259KBFRuzIGPBeUi0_h_V"
        },
        "event": "fileCreated",
        "options": {
          "fileType": "all"
        }
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        0
      ],
      "id": "aa02a332-8074-44a1-910a-97ca0c6f6a97",
      "name": "Google Drive Trigger",
      "alwaysOutputData": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I4ClMIGg9UXfsM7f",
          "name": "Google Drive account Freetime"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1hX41yWQ-2s5735waZ-YpPbgoAUojcDhNwF4QHTyAe4c",
          "mode": "list",
          "cachedResultName": "Invoices from n8n OCR",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hX41yWQ-2s5735waZ-YpPbgoAUojcDhNwF4QHTyAe4c/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1hX41yWQ-2s5735waZ-YpPbgoAUojcDhNwF4QHTyAe4c/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "vendor_name": "={{ $json.output.vendor_name }}",
            "invoice_id": "={{ $json.output.invoice_id }}",
            "invoice_date": "={{ $json.output.invoice_date }}",
            "due_date": "={{ $json.output.due_date }}",
            "customer_name": "={{ $json.output.customer_name }}",
            "po_number": "={{ $json.output.po_number }}",
            "subtotal": "={{ $json.output.subtotal }}",
            "tax_amount": "={{ $json.output.tax_amount }}",
            "currency": "={{ $json.output.currency }}",
            "line_items_summary": "={{ $json.output.line_items_summary }}",
            "uncategorized_text": "={{ $json.output.uncategorized_text }}",
            "file_link": "=https://drive.google.com/file/d/{{ $('Download file').item.json.id }}/view?usp=sharing"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "vendor_name",
              "displayName": "vendor_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_id",
              "displayName": "invoice_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "invoice_date",
              "displayName": "invoice_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "due_date",
              "displayName": "due_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "customer_name",
              "displayName": "customer_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "po_number",
              "displayName": "po_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "subtotal",
              "displayName": "subtotal",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tax_amount",
              "displayName": "tax_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "currency",
              "displayName": "currency",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "line_items_summary",
              "displayName": "line_items_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "uncategorized_text",
              "displayName": "uncategorized_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_link",
              "displayName": "file_link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        496
      ],
      "id": "a4210a50-4b52-4bc8-b4da-ed1dc65d0890",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4U2sXIYrTuhj2I8J",
          "name": "Google Sheets account Freetime"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert data extraction AI. Your task is to analyze the raw OCR text from an invoice and extract key information into a single, flat JSON object. The output must be only the JSON object and nothing else.\n\nIf you are unsure of an item or an amount DO NOT make anything up.\n\nAdhere to these critical rules:\n1.  **FLAT JSON ONLY:** Do not use nested objects or arrays. The entire output must be a single-level key-value structure.\n2.  **USE THE SCHEMA:** Every key from the schema defined below must be present in your output.\n3.  **NULL FOR MISSING:** If you cannot find a value for a specific field in the text, use `null` as the value. Do not omit the key.\n4.  **STANDARDIZE VALUES:**\n    * **Dates:** Format all dates as `YYYY-MM-DD`.\n    * **Numbers:** Represent all monetary values as a number (float or integer), without currency symbols or commas.\n5.  **NO EXTRA TEXT:** Your entire response must be the valid JSON object. Do not include explanations, greetings, or markdown formatting like `json`.\n\n{\n  \"vendor_name\": \"ACME Corp.\",\n  \"invoice_id\": \"INV-123\",\n  \"invoice_date\": \"2025-09-04\",\n  \"due_date\": \"2025-10-04\",\n  \"customer_name\": \"John Doe\",\n  \"po_number\": null,\n  \"subtotal\": 100.00,\n  \"tax_amount\": 8.00,\n  \"total_amount\": 108.00,\n  \"currency\": \"USD\",\n  \"line_items_summary\": \"Item: 1x Widget - $80.00, 2x Gadget - $20.00\",\n  \"uncategorized_text\": null\n}\n\n\n## Raw Invoice OCR Text to Process:\n\n{{ $json.ParsedResults[0].ParsedText }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        0,
        192
      ],
      "id": "8cf4c00a-1596-468b-9530-dea560482042",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-pro",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        0,
        336
      ],
      "id": "481e1b31-eb3d-48a8-976b-d9246cd1ad4d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "SRgUEjiLz6F3N7Vr",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        272,
        192
      ],
      "id": "b4c5543e-1199-43fc-b3aa-d4253c6ad513",
      "name": "AI Agent1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"vendor_name\": \"ACME Corp.\",\n  \"invoice_id\": \"INV-123\",\n  \"invoice_date\": \"2025-09-04\",\n  \"due_date\": \"2025-10-04\",\n  \"customer_name\": \"John Doe\",\n  \"po_number\": null,\n  \"subtotal\": 100.00,\n  \"tax_amount\": 8.00,\n  \"total_amount\": 108.00,\n  \"currency\": \"USD\",\n  \"line_items_summary\": \"Item: 1x Widget - $80.00, 2x Gadget - $20.00\",\n  \"uncategorized_text\": null\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        416,
        352
      ],
      "id": "1aedd96e-6a3c-468d-b36d-2bde6d7e2b15",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.ocr.space/parse/image",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {}
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        352,
        -16
      ],
      "id": "3b08f24d-92bd-4fa3-90d5-1218ffce3f0e",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "zTqPR2Vn6OjNFbnR",
          "name": "OCR.space"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "user",
        "user": {
          "__rl": true,
          "value": "U08VB3NE8RE",
          "mode": "list",
          "cachedResultName": "davidwoolner"
        },
        "text": "=✅ Invoice Added To Sheet\n\n{{ $json.vendor_name }} - {{ $json.invoice_date }}\n\nCustomer Name: {{ $json.customer_name }}\n\nLine Items Summary: \n{{ $json.line_items_summary.split(\", \").join(\"\\n\\n\") }}\n\nSubtotal: ${{ $json.subtotal }}\nTax: ${{ $json.tax_amount }}\n\nTotal: ${{ $json.subtotal + $json.tax_amount}}\n\nLink: {{ $json.file_link }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        176,
        496
      ],
      "id": "8a35264b-4bbb-4889-bd2b-d925642620f4",
      "name": "Send a message",
      "webhookId": "8e1404e7-6d67-4fb2-a7c3-c86a7944578a",
      "credentials": {
        "slackOAuth2Api": {
          "id": "elsYAmN5ggBCHJcn",
          "name": "Slack Users Write"
        }
      }
    },
    {
      "parameters": {
        "model": "anthropic/claude-3.5-sonnet",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        272,
        352
      ],
      "id": "646c489a-3592-4c04-8d05-a7ff87e6475f",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Eua8pv4g3NZyG4tR",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Download file').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1yLdT1azjztVrNJJg4SCuBvOA0yRGGgNu",
          "mode": "list",
          "cachedResultName": "Processed_Invoices",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1yLdT1azjztVrNJJg4SCuBvOA0yRGGgNu"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        496
      ],
      "id": "cc5d3de8-0899-4b54-9155-8fff8cea3d7c",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "I4ClMIGg9UXfsM7f",
          "name": "Google Drive account Freetime"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "28d0b178-9ec7-466e-86dd-059cdeeda20f",
              "leftValue": "={{ !!$json?.id }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -16,
        0
      ],
      "id": "c7401a79-acb4-4eb8-a320-f4ad164a7842",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        176,
        -160
      ],
      "id": "b7f8576e-362e-4239-a805-7c72993489a4",
      "name": "No Operation, do nothing"
    }
  ],
  "connections": {
    "Download file": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7a890a0a476a68eaf42214f57390a10af1e99b8c5f18355d477d156ff4eb8462"
  }
}
